<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="5b210ee0-6803-4bb1-9468-493bd9faa3dc" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://www.test-insurance.com" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="5b210ee0-6803-4bb1-9468-493bd9faa3dcfileName">https%3A%2F%2Fwww.test-insurance.com</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://www.test-insurance.com</con:endpoint></con:endpoints></con:interface>